body {
    background-color: rgba(183, 236, 211, 0.671);
    text-align: center;
}

.choiceButton {
    background-color: rgb(52, 112, 109);
    border-radius: 8px;
    color: white;
    font-weight: bold;
    width: 25%;
    height: 50px;
}

.nextButton {
    background-color:  rgb(52, 112, 109);
    border-radius: 8px;
    color: white;
    font-weight: bold;
    width: 10%;
    height: 30px;
}



