.choice {
    background-color: blueviolet;
    font-weight: bold;
    width: 25%;
    height: 50px;
}

body {
    background-color: rgb(195, 130, 204);
    width: 100%;
    text-align: center;
    height: 100%;
}

.container {
    position: relative;
    display: block;
    left: 50%;
    /* width: 50%; */

}